/**
 * -------------------- 3DNavigationMenu -----------------------
 * @import './3DNavigationMenu/navigationMenu.scss';
 */

@import './FullImageReveal/fullImageReveal.scss';

$marginValue: 15px;
$borderRadius: 5px;

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.overflow-hidden {
  overflow: hidden;
}

.hidden {
  display: none;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.position-fixed {
  position: fixed;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.table {
  display: table;
}

.table-cell {
  display: table-cell;
}

.vertical-align-middle {
  vertical-align: middle;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

.form-group {
  margin-bottom: $marginValue;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}